// 🎨 Colores base
$primary: #9a32afb0;
$secondary: #bb66dc;
$background: #0a0a0a;
$text: #ffffff;
$gray-light: #bdb8b8;
$background-color: #1f0226;
$background-color-card: #773487;
$text-color: #1f2937;
$border-radius: 6px;
// 📏 Medidas
$max-width: 1200px;
$border-radius: 8px;

// 🖥️ Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Tamaños
$max-width: 1200px;
$border-radius: 8px;
$input-height: 2.5rem;